h1 {
    display: flex;
    color: #ffffff;


    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    background-color: #e2fdff;
}

li {
    color: white;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
    color: #4a69bd;
}


@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
    
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    /* Layer의 번호 설정 */
    z-index: -1;

    animation: fadeIn 0.5s linear;


}
